grain == 0.2.18
datasets >= 3.6.0, < 4.8.0
tensorboard
wandb
tyro >= 1.0.5
tokenizers >= 0.15.0
safetensors
einops
pillow
spmd_types==0.2.5
attn-gym[linear] @ git+https://github.com/meta-pytorch/attention-gym.git@6ee58c2a437d99d93533a85b9ccb6a955358cf20
flash-attn-4[cu13]~=4.0.0b23
